
/*
  Note: All Licenses and copyrights of Frameworks and other Plugins are documentd
*/


/*
  Themes Style :
  A- Font colors
  B- Main Icons and sub-Icons
  C- Background Images and colors , Gradients
  D- Borders and Line colors
*/




/* General Colors */
.section-mask-white-color {
  background: #fff;
  opacity: 0.6;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}
.section-mask-teal-color{
  background: #1E8BC3;
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}
.section-mask-black-color{
  background:#000;
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}


/*+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#*/
/*+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+# A-  Font colors +#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#-*/
/*+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#*/


/*==================> Hero (Home Section) [1-] Banner and Header  <=============== */


/*User Name And Job Title*/
.hero-contents ,
/*Button Of Download Cv*/
.download-cv-btn ,
/*Menu bar (Navigation) */
.nav>li>a , .nav>li>a:hover
{   color: #fff; }

/* Background Of Icon bar related Mobile Version and Small screens  */
.icon-bar {background: #fff;}
 /*===================================> About (Section) [2-] About Me  <================================ */

 /* About me Title */
.about-me-title-color{  color: #1E8BC3; }
/* About me paragraphs */
.about-me-paragraphs-color  {  color: #222 ; }
/* Buttons in the Section bottom (Download Cv and Hire me Buttons) */
.button-about-container > a
{  color: #fff ; }


/*===========> Resume Section [3-] (Education - Certificates - Skills -Work History )  <=============== */

/* Resume (Main Title ) */
.sub-title-color-2 ,.resume-main-title {color: #1E8BC3;}
/*Certificates - Education -Skills -Work History  (All sub-Titles ) */
.sub-title-color {color: #fff;}         /*All Subtitles in #1E8BC3 BG Should be White Color  or Whatever*/
 input[type="text"], input[type="email"] , textarea {color: #1E8BC3 ;}   /*All Subtitles in White BG Should be White #1E8BC3 or Whatever*/
/*<<<<<<<<<<<<<< [1]-Education Block >>>>>>>>>>> */
/*Title Of Calendar*/
.graduation-block-calendar span {color: #fff;}
 /*Title Of Education Block*/
.graduation-block > h5.graduation-block-title {color: #666;}
/*paragraph Color*/
.graduation-block > .paragraphs {color: #222;}


/*<<<<<<<<<< [2]-Certificates Block >>>>>>>>> */
/*Title Of Certificate*/
.certifications-body > b.certificate-titles {color: #666;}
/*paragraph Of Certificate*/
.certifications-body > p {color: #222;}

/*<<<<<<<<<< [3]-Skill Blocks >>>>>>>>> */
/* Skill titles and  Percentage Value*/
.skill-elements > span {color:#222;}

/*<<<<<<<<<< [4]-Work History  >>>>>>>>> */
/* Years */
.work-history-body > .year-since {color:#999;}
/* Company Name */
.work-history-body > .company-name-content {color:#000;}
/* Title Of Job */
.work-history-body > .job-name > .title-job {color:#999;}
/* Patagraph Of Job */
.work-history-body > .job-details {color:#222;}
.hero-contents > a.download-cv-btn {
  border: 3px solid #4097c4;}

/*====================================> Portfolio Section <======================================= */
.portfolio-main-title {color: #1E8BC3;}
/*====================================> Client Section <======================================= */
.client-main-title {color: #1E8BC3;}
/*====================================> Contact-Us Section <======================================= */
.headline-container{
  color: #1E8BC3;
}
.mani-info-contact a i {
  font-size: 20px;
}

/*+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#++#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#-#*/
/*+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+# B-  Icons And small subtitle icons +#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#*/
/*+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#++#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#-#*/
/*<<<<<<<<<< [1]- Main Icons  >>>>>>>>> */
.headline-container-white-bg > i ,
.work-history > i , .form-results-successed {color: #1E8BC3;}
/*<<<<<<<<<< [2]- Sub-icons  >>>>>>>>> */
.education-block-title > i ,
.titles-in-graduation > i ,
.graduation-block-calendar >i ,
.middle-icon i
 {color: #fff;}
.white-color-titles > i,
.white-color-titles > span
  {color: #fff !important;}

/*+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#++#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#-#*/
/*#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#  D- Background Image And Colors , Gradients #+#+#+#+#++#+#+#+#+#+##+#+#+#+#+#+#+#+#+#+#+#+#*/
/*+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#++#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#-#*/

/*[1]|-------------------------------> Sections <-------------------------\*/
 /*===========> Home Section  <=============== */
 .hero-section {
     background-image: url(../images/pr-hero-bg.jpg);
}
/*Hover element in header navbar */
.nav>li>a:hover , .nav>li>a:focus , .nav>li>a:active {
  background: rgba(255,255,255,0.1);
}
.navbar-container { background: #1E8BC3;} /* Background Of navebar*/

 /*===========> About Us Section  <=========== */
 .about-me-section {
   background-image: url(../images/pr-hero-bg.jpg);
  }

/*===========> Resume Section  <=============== */
.resume-section {
  background: #fff;
}
/*=============> Portfolio Section <============ */
.porfolio-section {
  background-image: url(../images/pr-portfolio.jpg);
}
/*=============> Client Section <============ */
.clients-section{
  background: #fff;
}
.carousel-indicators li {
  background: #1E8BC3;
}
.carousel-indicators li.active{
 background: #049904;
}
/*=============> Contact-us Section <============ */
.contact-us-section {
 background-image: url(../images/contact-bg.jpg);
}

/*[2]|-------------------------------> Block and Container Colors <-------------------------\*/
/*Button In Hero Banner */
.hero-contents > a.download-cv-btn ,
/*Buttons In About us section */
.button-about-container > a ,
/*Button and before shape In Education */
.education-block-title::before ,
.education-block-title ,
/*before elem and Container of Calender in Education block */
.graduation-block > span.graduation-block-calendar ,
.graduation-block-calendar::before ,
/*Middle Icon Of Graduation block*/
.middle-icon ,
/*Titles in Backgrounds*/
.titles-in-graduation ,
/*certifications Years*/
.year-since-certificate ,
/*Work History Small Circles*/
.left-job::before ,
.right-job::before ,
.point
{background: #1E8BC3;}

/*Skill Progress Bar*/
/*1- Main Progress */
.skill-element-ruler {
  background: rgba(30, 139, 195,0.4);
}
 /*2- Percentage Of Progress bar*/
.fill-indicator {
      background: #1E8BC3;
}
/*+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#++#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#-#*/
/*+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#  E- Borders and Lines color  +#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#*/
/*+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#++#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#+#-#*/

/* Layout Borders color (Solid Or Dotted Or Dashed ) */
.dashed-layout-sides , .dotted-layout-sides , .solid-layout-sides , .first-row-container:after ,
.second-row-container:after , .left-job , .right-job , .dashed-element::before , .graduation-block
{
  border-color: #1E8BC3;
}
/*Right Arrow => certifications Section */
.right-arrow::after , .certifications-body::after {
   border-left-color: #1E8BC3;
 }
 /*Left Arrow => Skill Section */
.left-arrow::after , .skills-body::after {
  border-right-color: #1E8BC3;
}
/* Title Lines are included Three levels (Bold - Thin - Lighter) */
.headline-separator , .headline-separator::before , .headline-separator::after ,
/*Rounded Elements [ After and Before ] in   the columns */
 .rounded-element:after , .first-row-container::before {
  background:  #1E8BC3;
}
.white-color-titles > span.headline-separator , .white-color-titles span::after , .white-color-titles span::before {
  background: #fff;
}
.black-line > span.headline-separator, .black-line span::after , .black-line span::before {
  background: #1E8BC3;
}

.img-block {
  border-color: #fff;
}

/*New Colors */
.certifications-body , .skills-body{
  border-color: #1E8BC3;
}
.section-icon , .carousel-control.left , .carousel-control.right , a.reserved-to {
  color: #1E8BC3;
}
.mani-info-contact a, .mani-info-contact a:hover, .mani-info-contact a:focus{
  background:#1E8BC3;
}
